.quotes_page {
  min-width: 810px;
  display: flex;
}

.left_content {
  width: 50%;
  height: 100%;
  text-align: center;
}

.left_content img:hover,
.left_content button:hover {
  cursor: pointer;
}

.right_content {
  width: 50%;
  height: 100vh;
  background-color: rgb(155, 155, 116);
  text-align: center;
}

.right_content .quote {
  margin-top: 5%;
  color: darkred;
  font-size: 24px;
  font-weight: 800;
}
